<div>
    <form method="post" action="add" id="resource-form">

        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input type="text" id="title" name="title" class="form-control" placeholder="Python Tutorials" value="C++ Tutorials" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <input type="text" id="description" name="description" class="form-control" placeholder="A python guide for everyone!" value="Learn C++ from experts!">
        </div>

        <div class="mb-3">
            <label class="form-label" for="link">Link</label>
            <input type="url" id="link" name="link" class="form-control" placeholder="www.example.com" value="https://www.example.com" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="tags">Tags</label>
            <input type="text" id="tags" name="tags" class="form-control" placeholder="Python, Programming" value="C++, cp, STL">
        </div>
    </form>
</div>